<div class="jumbotron" style="background: transparent; padding-top: 0px; margin-top: 0px;">
  <div class="container">
    <% if user_signed_in? %>
      <div class="user-heading pull-right" style="color: #AAA">
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
      <% if @logs %>
        <h1 style="color: #AAA">Words Per Day</h1>
        <canvas class="chart-words" id="chart-words-all" width="600px" height="400px" style="width: 100%"
          data-show="wc_per_day" 
          data-path="<%= get_logs_pieces_path %>" 
        ></canvas>
        <br />
        <p><a class="btn btn-primary btn-lg pull-right" href="<%= pieces_path %>" role="button">Start Writing <i class="fa fa-arrow-circle-right"></i></a></p>
        <div class="clearfix"></div>
        <br />
        <h1 style="color: #AAA">Minutes Per Day</h1>
        <canvas class="chart-words" id="chart-time" width="600px" height="400px" style="width: 100%"
          data-show="minutes" 
          data-path="<%= get_logs_pieces_path %>" 
        ></canvas>
        <br />
        <p><a class="btn btn-primary btn-lg pull-right" href="<%= pieces_path %>" role="button">Start Writing <i class="fa fa-arrow-circle-right"></i></a></p>
        <div class="clearfix"></div>
        <br />
        <br />
      <% end %>
    <% else %>
      <br />
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #AAA">
            Write stuff.<br />
            Track progress.<br />
            Eat.<br />
            Poop.<br />
            Repeat.
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a class='btn btn-primary btn-lg btn-block' style="margin-top: 15px" href="<%= new_user_session_path %>">
            <h3 style="margin:0px auto">Log In</h3>
          </a>
        </div>
        <div class="col-md-3">
          <a class='btn btn-default btn-lg btn-block' style="margin-top: 15px" href="<%= new_user_registration_path %>">
            <h3 style="margin:0px auto; color: #888">Sign Up</h3>
          </a>
        </div>
      </div>
    <% end %>
    <div class="bottom-icons">
      <h3>
        <a href="mailto:nancy@neuralfirings.com"><i class="fa fa-envelope"></i></a>
        <a href="https://github.com/neuralfirings/writer"><i class="fa fa-github-alt"></i></a>
      </h3>
    </div>
  </div>
</div>