<br />
<div class="panel-group" id="folder" role="tablist" aria-multiselectable="false">
  <% @folder.each do |f| %>
    <% if f.name != "Uncategorized" %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-<%= f.name %>">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#folder" href="#folder-<%= f.name %>" aria-expanded="false" aria-controls="folder-<%= f.name %>">
              <%= f.name %>
            </a>
          </h4>
        </div>
        <div id="folder-<%= f.name %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= f.name %>">
          <ul class="list-group">
            <% @pieces.tagged_with([f.name], :on => :folder, :any => true).each do |p| %>
              <% if p.title == "" %>
                <li class="list-group-item"><%= link_to "Untitled", piece_path(p) %></li>
              <% else %>
                <li class="list-group-item"><%= link_to p.title, piece_path(p) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
  <!-- no folder -->
  <% if @pieces.tagged_with(["Uncategorized"], :on => :folder, :any => true).length > 0 %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="orphan-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#folder" href="#orphan-docs" aria-expanded="false" aria-controls="orphan-docs">
            Uncategorized
          </a>
        </h4>
      </div>
      <div id="orphan-docs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="orphan-heading">
        <ul class="list-group">
          <% @pieces.tagged_with(["Uncategorized"], :on => :folder, :any => true).each do |p| %>
            <% if p.title == "" %>
              <li class="list-group-item"><%= link_to "Untitled", piece_path(p) %></li>
            <% else %>
              <li class="list-group-item"><%= link_to p.title, piece_path(p) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<% if @logs %>

  <% if false %>
    <strong>Word Count per Day</strong>
    <canvas class="chart-words" id="chart-words-pd" width="" height="200px" style="width: 100%"
      data-show="wc_per_day" 
      data-piece-id="<%= @piece.id %>" 
      data-path="<%= get_logs_pieces_path %>" 
    ></canvas>

    <strong>Total Time Spent</strong>
    <canvas class="chart-words" id="chart-time-all" width="" height="200px" style="width: 100%"
      data-show="minutes_cumulative" 
      data-piece-id="<%= @piece.id %>" 
      data-path="<%= get_logs_pieces_path %>" 
    ></canvas>
  <% end %>


  <strong>Total Word Count</strong>
  <canvas class="chart-words" id="chart-words" width="" height="200px" style="width: 100%"
    data-show="wc_cumulative" 
    data-piece-id="<%= @piece.id %>" 
    data-path="<%= get_logs_pieces_path %>" 
  ></canvas>


  <strong>Time Spent Per Day</strong>
  <canvas class="chart-words" id="chart-time" width="" height="200px" style="width: 100%"
    data-show="minutes" 
    data-piece-id="<%= @piece.id %>" 
    data-path="<%= get_logs_pieces_path %>" 
  ></canvas>

<% end %>