<div class="input-group">
  <span class="input-group-btn">
    <a class="btn btn-default" role="button" href="/"><i class="fa fa-home"></i></a>
    <a class="btn btn-default" role="button" href="<%= pieces_path %>"><i class="fa fa-file-o"></i></a>
  </span>
  <% if is_new or @error == "not your stuff" %>
    <input type="text" class="piece-folders form-control" placeholder="e.g. draft, blog" value="">
  <% else %>
    <input type="text" class="piece-folders form-control" placeholder="e.g. draft, blog" value="<%= @piece.folder_list %>">
  <% end %>
  <span class="input-group-btn">
    <% if is_new %>
      <a class="save btn btn-default" role="button" data-path="<%= pieces_path %>" data-title=".piece-title" data-body=".note-editable"><i class="fa fa-floppy-o"></i></a>
    <% else %>
      <a class="update btn btn-default" role="button" data-path="<%= piece_path %>" data-title=".piece-title" data-body=".note-editable"><i class="fa fa-floppy-o"></i></a>
    <% end %>
    <%= render partial: "pos" %>
    <a class="sidenav-toggle btn btn-default navbar-toggle collapsed" role="button" data-toggle="collapse" data-target="#sidenav" aria-expanded="false" aria-controls="sidenav">
      <i class="fa fa-bars fa-lg"></i>
    </a>
<!--     <a type="button" class="sidenav-toggle btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target="#sidenav" aria-expanded="false" aria-controls="sidenav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a> -->
  </span>
</div>